<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ClienteSRV</servlet-name>
        <servlet-class>controller.ClienteSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnimalSRV</servlet-name>
        <servlet-class>controller.AnimalSRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdocaoSRV</servlet-name>
        <servlet-class>controller.AdocaoSRV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteSRV</servlet-name>
        <url-pattern>/ClienteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnimalSRV</servlet-name>
        <url-pattern>/AnimalSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdocaoSRV</servlet-name>
        <url-pattern>/AdocaoSRV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
